header {
  background-color: rgb(221, 222, 225);
  color: rgb(59, 65, 76);
  text-transform: capitalize;
  line-height: 60px;
  padding-left: 20px;
  font-size: 1.4em;
  border-bottom: 2px solid black;
}

footer > div.container {
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
}

#code {
  border-bottom: 4px solid black;
}

mwlResizable {
  box-sizing: border-box;
}

ace-editor {
  border-bottom: 8px solid black;
}
