<div class="container">
  <div class="vh-100">
    <div class="row">
      <div class="col">
        <header>Alexandre Ashade's Challenge</header>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ace-editor #editor
                    theme="monokai"
                    mode="json"
                    style="min-height: 20px; overflow: auto; font-family: 'Source Code Pro', monospace;"
                    [style.min-height.px]="editorHeight"
                    [autoUpdateContent]="true"
                    [durationBeforeCallback]="100"
                    (textChanged)="onEventsChanged($event)"
                    mwlResizable
                    [enableGhostResize]="true"
                    [resizeEdges]="{bottom: true, right: false, top: false, left: false}"
                    [validateResize]="onValidateResize"
                    (resizeEnd)="onResizeEnd($event)">
        </ace-editor>
      </div>
    </div>
    <div class="whitespace"></div>
    <div class="row">
      <div class="col">
        <app-chart [newData]="plotData"></app-chart>
      </div>
    </div>
    <div class="whitespace"></div>
    <div class="whitespace"></div>
    <div class="whitespace"></div>
  </div>
</div>

<footer class="fixed-bottom">
  <div class="container">
    <button type="button" class="btn btn-primary" (click)="generateChart()">GENERATE CHART</button>
  </div>
</footer>

<router-outlet></router-outlet>
